<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnMEsEHCNAIPBO-ljfp_gclB1JYX--Gxk</string>
	<key>GCM_SENDER_ID</key>
	<string>966147097126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.commandDex</string>
	<key>PROJECT_ID</key>
	<string>mtg-command-dex</string>
	<key>STORAGE_BUCKET</key>
	<string>mtg-command-dex.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966147097126:ios:c5e2cbe6a28fcb3d849ce7</string>
</dict>
</plist>